body {
	background-color: #356273;
}

tbody {
	background-color: white;
}

a {
	text-decoration: none;
}

.error {
	color: #FF0000;
	text-align: center;
	margin-top: -10px;
}

.header {
	background-color: #B8E3F2;
	position: relative;
	height: 200px;
	text-align: center;
}

.header img {
	height: 200px;
}

.header:hover {
	cursor: pointer;

}

.account {
	background-color: #B8E3F2;

	position: relative;
	width: 400px;
	left: 50%;
	transform: translateX(-50%);

	border-radius: 5px;
}

.account h1 {
	position: relative;
	text-align: center;
	color: #576B73;
	font-family: Arial;
	font-size: 30px;
}

#button1, #button2 {
	vertical-align: top;
	display: inline-block;
}

.note {
	position: relative;
	text-align: center;
	margin-top: -20px;
	color: #576B73;
	font-family: Arial;
	font-size: 16px;
}

.info {
	position: relative;
	color: #576B73;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
}

.title {
	position: relative;
	margin-top: -30px;
	margin-bottom: 60px;
	height: 100px;
}

.title h1 {
	position: relative;
	text-align: center;
	color: #70D1F4;
	font-family: Arial;
	font-size: 60px;
}

.title h2 {
	position: relative;
	text-align: center;
	margin-top: -40px;
	color: #A7CDDB;
	font-family: Arial;
	font-size: 20px;
}

.shop {
	margin: -50px 0px -30px 0px;
	position: relative;
	align-self: center;
	height: 200px;
}

.shop h2 {
	font-family: Arial;
	font-size: 80px;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.products {
	position: relative;
	margin-top: -50px;
	width: 660px;
	left: 50%;
	transform: translateX(-50%);
}

.btn {
    color: white;
    background-color: #576B73;

    margin-right: 10px;
    margin-bottom: 5px;
    padding: 8px 15px;

	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;

    border: none;
    border-radius: 5px;


}

.btn:hover {
	cursor: pointer;
	background-color: #91B3BF;	
}

.table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 20px Arial;
}

.table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

.table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.tooltip {
  	position: relative;
  	display: inline-block; 
}

.tooltip .tooltiptext {
  	visibility: hidden;
  	width: 120px;
  	background-color: #555;
  	color: #fff;
  	text-align: center;
  	padding: 5px 0;
  	border-radius: 6px;

	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  	visibility: visible;
  	opacity: 1;
}