<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Create Account</title>
    </head>
    <body>
      <a href="/">
        <div class="header">
          <img src="/static/css/Presentation22.jpg" alt="Logo">
        </div>
      </a>

      <div class="account">
        <h1>Please create an account below:</h1>
        <form action="/createaccount" method="POST">
          <div class="info">
            <h3>Name: <br>
            <input type="name" name = "name"></h3>
            <h3>Username:<br>
            <input type="text" name="username"></h3>
            <h3>Email:<br>
            <input type="text" name="email"></h3>
            <h3>Password:<br>
            <input type="password" name="password1"></h3>
            <h3>Confirm Password:<br>
            <input type="password" name="password2"></h3>
            <input class="btn login" type="submit" value="Submit">
          </div>
        </form>
        <p> {{template_data}} </p>
      </div>
    </body>
</html>
