<html>
    <head>
        <title>Jinourmous Jungle, the world's shittiest store.</title>
    </head>
    <body>
        <pre style="color:yellow; background-color:forestgreen;">
          ____.__                                                              ____.                    .__
|    |__| ____   ____  __ _________  _____   ____  __ __  ______     |    |__ __  ____    ____ |  |   ____
|    |  |/    \ /  _ \|  |  \_  __ \/     \ /  _ \|  |  \/  ___/     |    |  |  \/    \  / ___\|  | _/ __ \
/\__|    |  |   |  (  <_> )  |  /|  | \/  Y Y  (  <_> )  |  /\___ \  /\__|    |  |  /   |  \/ /_/  >  |_\  ___/
\________|__|___|  /\____/|____/ |__|  |__|_|  /\____/|____//____  > \________|____/|___|  /\___  /|____/\___  >
          \/                          \/                  \/                      \//_____/           \/
        </pre>
        <p>Welcome to Jinormous Jungle, which totally fucking sucks.</p>
        <p>Please login below</p>

        <form>
          Username: <br>
          <input type="text" name="username"><br>
          Password:<br>
          <input type="text" name="password">
        </form>
    </body>
</html>
