<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Jinourmous Jungle, Login</title>
    </head>
    <body>
      <div class="header">
        <img src="/static/css/Presentation22.jpg" alt="Logo">
      </div>

      <div class="account">
        <h1>Please login below:</h1>
        <form action="/" method="POST">
          <div class="info">  
            <h3>Username:<br>
            <input type="text" name="username"></h3>
            <h3>Password:<br>
            <input type="password" name="password"></h3>
            <input class="btn login" type="submit" name="Login" value="Login">
            <input class="btn login"type="submit" name="Create_Account" value="Create Account">
          </div>
        </form>
        <p class="error"> {{ template_data }}</p>
    </div>
    </body>
</html>
