<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Jinourmous Jungle, Login</title>
    </head>
    <body>
      <div class="header">
        <pre>
          __  _                                                     __                    _
          \ \(_)_ __   ___  _   _ _ __ _ __ ___   ___  _   _ ___    \ \ _   _ _ __   __ _| | ___
           \ \ | '_ \ / _ \| | | | '__| '_ ` _ \ / _ \| | | / __|    \ \ | | | '_ \ / _` | |/ _ \
        /\_/ / | | | | (_) | |_| | |  | | | | | | (_) | |_| \__ \ /\_/ / |_| | | | | (_| | |  __/
        \___/|_|_| |_|\___/ \__,_|_|  |_| |_| |_|\___/ \__,_|___/ \___/ \__,_|_| |_|\__, |_|\___|
                                                                                    |___/
        </pre>
      </div>

      <p>Please login below</p>
      <form action = "/" method = "POST">
        <p>Username: <br>
        <input type="text" name="username"></p>
        <p>Password:<br>
        <input type="password" name="password"></p>
        <input type = "submit" name = "Login" value = "Login">
        <input type = "submit" name = "Create_Account" value = "Create_Account">
      </form>
      <p> {{ template_data }}</p>
    </body>
</html>
