<html>
    <head>
      <link rel="stylesheet" type="text/css" href="static/css/style.css">
      <title>Purchase Page</title>
    </head>
    <body class="body">
      <a href="/home">
        <div class="header">
          <img src="/static/css/Presentation22.jpg" alt="Logo">
        </div>
      </a>

      <div class="account">
        <h1>Confirm:</h1>
        <h2 class="note"> Confirm you would like to purchase <u>{{template_data[1]}} {{template_data[0]}}</u> for <u>{{ template_data[2] }}</u> dollars?</h2>
        <form action="/purchase" method="post">
          <div class="info">
            <button class="btn" name="Confirm" value="Confirm">Confirm</button>
            <a href="/shop">
            <button class="btn" name="Cancel" value="Cancel">Cancel</button>
            </a>
          </div>
        </form>
      </div>

    </body>
</html>
