<html>
    <head>
        <title>Jinourmous Jungle, the world's shittiest store.</title>
    </head>
    <body>
        <h1>Sell Page</h1>
        <p>Add items that you wish to post for sale</p>
        <form action = "/sell" method = "POST">
          <p>Item Name:<br>
          <input type="text" name="Item Name"></p>
          <p>Price (USD):<br>
          <input type="text" name="Price(USD)"></p>
          <p>Quantity:<br>
          <input type="text" name="Quantity"></p>
          <input type = "submit" name = "add_item" value = "Sell">
        </form>
        {{template_data}}
    </body>
</html>
