<html>
    <head>
      <link rel="stylesheet" type="text/css" href="static/css/style.css">
      <title>Marketplace</title>
    </head>
    <body>
      <a href="/home">
        <div class="header">
          <img src="/static/css/Presentation22.jpg" alt="Logo">
        </div>
      </a>
      
      <div class="title">
        <h1>Marketplace</h1>
        <h2>The items below are for sale</h2>
      </div>

      <div class="products">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Price (USD)</th>
            <th>Purchase Quantity</th>
            <th>Buy</th>
          </tr>
          </thead>

          <tbody>
            {% for prod in template_data %}
            <tr>
              <td>{{ prod[2] }} </td>
              <td>{{ prod[3] }} </td>
            
              <form action="/shop" method="POST">
                <td>
                  <input type="number" value=1 name="quantity" min=1 max="{{ prod[4] }}">
                </td>
                <td>
                  <input type="hidden" name="pid" value="{{ prod[0] }}">
                  <input class="btn login" type="submit" name="buy" value="Buy">
                </td>
              </form>
            {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </body>
</html>
