<html>
    <head>
      <style>
      table, th, td {
        border: 1px solid black;
        }
</style>
        <title>Jinourmous Jungle, the world's shittiest store.</title>
    </head>
    <body>
        <p>Your user homepage</p>
        <form action = "/shop" method = "POST">
          <input type = "submit" name = "Shop" value = "Shop">
        </form>
        <p> Your products on the market</p>
    <table>
      <tr>

        <td> <b>Name</b></td>
        <td> <b>Price (USD)</b></td>
        <td> <b>Quantity</b></td>

      </tr>
        {% for prod in template_data %}
      <tr>
        <td>{{ prod[0] }} </td>
        <td>{{ prod[0] }} </td>
        <td>{{ prod[0] }} </td>
        {% endfor %}
    </tr>
    </table>
    </body>
</html>
